<div class="container-fluid px-0">
    <div class="row my-6">
        <div class="col-12 px-3">
            <div class="arrow-transform-image shadow wow pulse" style="background: {{ xsArrowTransformLeft.backgroundImage.darken }}, url('{{ arrowComponentLeft.image.src }}'); background-size: cover;" id="{{ arrowComponentLeft.image.id }}">
                <div class="arrow-transform-text-div text-white pb-4 wow fadeIn slow" style="" id="{{ xsArrowTransformLeft.textDiv.id }}">
                    <h4 class="xs-arrow-component-title text-uppercase text-center pt-4 mb-3" id="{{ xsArrowTransformLeft.title.id }}">{{ arrowComponentLeft.title.title }}</h4>

                    <div class="mx-5" id="{{ xsArrowTransformLeft.wording.id }}">
                    {{#each arrowComponentLeft.wording.paragraphs}}
                        <p class="text-justify">{{this}}</p>
                    {{/each}}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>