<!-- Smooth Scroll Div -->
<div class="smooth-scroll" id="home-scroll"></div>

<!-- Hero Images - Carousel -->
<div class="container-fluid px-0 px-0" id="hero-img-container">
    <div class="row">
        <div class="col-12">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <li data-target="#carousel" data-slide-to="4"></li>
                    <li data-target="#carousel" data-slide-to="5"></li>
                    <li data-target="#carousel" data-slide-to="6"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active darken" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/161011_4035WMain-006.jpg" class="d-block w-100 opacity" alt="...">
                        <div class="carousel-caption">
                            <h1 class="display-2 caption-title text-uppercase d-none d-md-block mb-5 wow zoomIn">Mirabella Doors</h1>
                            <p class="hero-image-paragraph-font wow zoomIn delay-sixtieths">You only have one chance to make a first impression</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/WDB Front Elevation-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/trad_door_wine_door_stairwell.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/Cosmopolitan L Shaped Unit-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/Cosmopolitan SDSL and L Shaped Back Wall-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/pleasant_front_exterior.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="./assets/images/mirabellaDoorsImgs/heroImgs/160706_919 Clearbrook-012-resized.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Page Breaker Text -->
{{> page-breaker-component/page-breaker-text}}

<!-- Core Values -->
<div class="container-fluid slant-background py-6">
    {{> core-value-card-component/core-value-card}}
</div>

<!-- Featured Products -->
<div class="container-fluid py-6 w-100">
    <h2 class="display-6 mb-5 ml-5 ml-sm-1 ml-md-4 ml-xl-5 wow fadeIn" id="featuredDoorsHeading"><em>Featured Doors :</em></h2>
    <div class="row mx-3">
    
        <!-- Featured Products Images (XL screen sizes only) -->
        <div class="col-xl-12">
            <div class="card-deck mx-xl-n5 d-none d-xl-block">
                <div class="container-fluid">
                    <div class="row mx-lg-4 mx-xl-0">

                        {{#each featuredDoors }}
                            <div class="card border-0 d-inline-block mr-3 shadow {{ this.animation }}">
                                <div class="featured-product-card card-img-top rounded card-img-size-xl-screen">
                                    <a href="{{ this.src }}" title="DESIGN: {{ this.design }}">
                                        <div class="content">
                                            <div class="content-overlay"></div>
                                            <img src="{{ this.src }}" class="img-fluid" alt="{{ this.alt }}">
                                            <div class="content-details fadeIn-bottom">
                                                <h6 class="content-title">DESIGN: {{this.design }}</h6>
                                                <p class="content-text">Glass: {{ this.glass }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
        
        <!-- Featured Products Images (MD and LG screen sizes only) -->
        <div class="card-deck mx-0 mb-5 d-none d-md-block d-lg-block d-xl-none">
            <div class="container-fluid">
                <div class="row mx-lg-4 mx-xl-0">

                    <div class="card border-0 d-inline-block wow zoomIn">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/CM1A9908 - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block wow zoomIn delay-fifteenths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/After Picture - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block wow zoomIn delay-thirtieths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Kinley Design - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="card-deck mx-0 mb-6 d-none d-md-block d-lg-block d-xl-none text-center">
                <div class="container-fluid px-0">
                    <div class="row mx-md-0">

                        <div class="card border-0 d-inline-block ml-lg-n5 ml-md-0 wow zoomIn delay-fortyfifths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Cosmopolitan Front Entry Doors - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow card-img-size-lg-screen" alt="">
                        </div>

                        <div class="card border-0 d-inline-block mr-lg-n5 mr-md-0 wow zoomIn delay-sixtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Miramar Design - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow card-img-size-lg-screen" alt="">
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>

        <!-- Featured Products Images (XS and SM screen sizes only) -->
        <div class="card-deck mx-0 mb-sm-4 d-none d-block d-md-none d-lg-none d-xl-none text-center">
            <div class="container-fluid px-0">
                <div class="row mx-md-0">

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/CM1A9908 - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-fifteenths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/After Picture - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="card-deck mx-0 mb-sm-4 d-none d-block d-md-none d-lg-none d-xl-none text-center">
            <div class="container-fluid px-0">
                <div class="row mx-md-0">

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-thirtieths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Cosmopolitan Front Entry Doors - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                    <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-fortyfifths">
                        <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Kinley Design - cropped and resized.jpg" class="featured-product-card card-img-top rounded shadow" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-3 d-none d-sm-block"></div>
        <div class="col-sm-6 d-none d-sm-block">

            <div class="card-deck mx-n2 mb-5 d-none d-block d-md-none d-lg-none d-xl-none text-center">
                <div class="container-fluid px-0">
                    <div class="row mx-md-0">

                        <div class="card border-0 d-inline-block mb-4 mx-5 mx-sm-2 card-margin-xs-screen wow zoomIn delay-sixtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Miramar Design - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3 d-none d-sm-block"></div>

        <div class="d-sm-none d-block ">
            <div class="card-deck mx-0 mb-sm-4 d-none d-block d-md-none d-lg-none d-xl-none text-center">
                <div class="container-fluid px-0">
                    <div class="row mx-md-0">

                        <div class="card border-0 d-inline-block mb-4 mx-5 card-margin-xs-screen wow zoomIn delay-sixtieths">
                            <img src="./assets/images/mirabellaDoorsImgs/featuredProducts/Miramar Design - cropped and resized.JPG" class="featured-product-card card-img-top rounded shadow" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Customer Reviews -->
<div class="container-fluid my-6 py-6">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9">
            <div class="row mb-6">
                <div class="col-4 pl-0">
                    <img class="customer-review-img shadow-sm wow fadeIn slow" src="./assets/images/mirabellaDoorsImgs/customerReviews/customer_review_home.jpeg">
                </div>
                <div class="col-8 ml-n6 mt-n5 p-4 h-75 customer-review-text transparent shadow wow slideInLeft">
                    <h5 class="wow fadeIn slow">CUSTOMER REVIEW</h5>
                    <p class="wow fadeIn slow">"Lomo freegan normcore pok pok listicle health goth taxidermy slow-carb pinterest beard microdosing pour-over. Crucifix fam four dollar toast gluten-free, schlitz pour-over DIY gochujang hell of tousled taxidermy godard snackwave whatever sartorial. Enamel pin palo santo asymmetrical offal ennui. Kickstarter cardigan vexillologist viral, keffiyeh tbh tousled retro kogi man bun."</p>
                    <p class="text-right mb-0 wow fadeIn slower"><span> - Ryan N.<small><span class="text-right text-muted"> from The Museum District</span></small></span></p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row mt-4">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="row">
                <div class="col-8 mt-n5 ml-6 p-4 h-75 customer-review-text transparent shadow wow slideInRight">
                    <h5 class="wow fadeIn slow">CUSTOMER REVIEW</h5>
                    <p class="wow fadeIn slow">"Lomo freegan normcore pok pok listicle health goth taxidermy slow-carb pinterest beard microdosing pour-over. Crucifix fam four dollar toast gluten-free, schlitz pour-over DIY gochujang hell of tousled taxidermy godard snackwave whatever sartorial. Enamel pin palo santo asymmetrical offal ennui. Kickstarter cardigan vexillologist viral, keffiyeh tbh tousled retro kogi man bun."</p>
                    <p class="text-right mb-0 wow fadeIn slower"><span> - Stephanie N.<small><span class="text-right text-muted"> from Vintage Park</span></small></span></p>
                </div>
                <div class="col-4 pr-0 ml-n6 mb-6">
                    <img class="customer-review-img float-right shadow-sm wow fadeIn slow" src="./assets/images/mirabellaDoorsImgs/customerReviews/customer_review_img_clearbrook.jpeg">
                </div>
            </div>
        </div>
        <div class="col-2 clear-float"></div>
    </div>
</div>

<!-- Scroll Top Btn Component -->
{{> scroll-top-btn-component/scroll-top-btn }}