<div class="row my-6">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-8">
                <div class="row my-4">                    
                    {{#each imagesComponentRight.smallImage.topRow}}
                        <div class="col-3">
                            <div class="container px-0 shadow-sm {{ this.animation }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" class="img-fluid small-door-image" alt="{{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.design }}</h6>
                                        <p class="content-text">Glass: {{ this.glass }}</p>
                                    </div>
                                    </a>
                                </div>
                            </div>

                            {{!-- <div class="img-hover-background">
                                <img src="{{ this.src }}" class="img-fluid small-door-image shadow-sm {{ this.animation }}" alt="{{ this.alt }}">
                            </div> --}}

                            {{!-- </div> --}}
                        </div>
                    {{/each}}
                </div>
                <div class="row">
                    {{#each imagesComponentRight.smallImage.bottomRow}}
                        <div class="col-3">
                            <div class="container px-0 shadow-sm {{ this.animation }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" class="img-fluid small-door-image" alt="{{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.design }}</h6>
                                        <p class="content-text">Glass: {{ this.glass }}</p>
                                    </div>
                                    </a>
                                </div>
                            </div>

                            {{!-- <img src="{{ this.src }}" class="img-fluid small-door-image shadow-sm {{ this.animation }}" alt="{{ this.alt }}"> --}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-4">
                <img src="{{ imagesComponentRight.largeImage.src.[0] }}" class="img-fluid large-door-image shadow-md {{ imagesComponentRight.largeImage.animation }}" alt="Responsive image {{ imagesComponentRight.largeImage.alt.[0] }}">
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>