<div class="row my-6">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-8">
                <div class="row mb-4">
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentRight.smallImage.src }}" class="img-fluid shadow-sm {{ imagesComponentRight.smallImage.animation }}" alt="Responsive image {{ imagesComponentRight.smallImage.alt }}">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="{{ imagesComponentRight.largeImage.src.[0] }}" class="img-fluid shadow-md {{ imagesComponentRight.largeImage.animation }}" alt="Responsive image {{ imagesComponentRight.largeImage.alt.[0] }}">
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>