<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-4">
                <img src="{{ imagesComponentLeft.largeImage.images.[0] }}" class="img-fluid shadow-md {{ imagesComponentLeft.largeImage.animation }}" alt="{{ imagesComponentLeft.largeImage.alts.[0] }}">
            </div>
            <div class="col-8">
                <div class="row mb-4">
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                    <div class="col-3">
                        <img src="{{ imagesComponentLeft.smallImage.images }}" class="img-fluid shadow-sm {{ imagesComponentLeft.smallImage.animation }}" alt="{{ imagesComponentLeft.smallImage.alts }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>