<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-4">
                {{#unless partialContextSrc}}
                    <img src="{{ imagesComponentLeft.largeImage.src.[0] }}" class="img-fluid large-door-image shadow-md {{ imagesComponentLeft.largeImage.animation }}" alt="{{ imagesComponentLeft.largeImage.alt.[0] }}">
                {{/unless}}
                
                {{#if partialContextSrc}}
                    <img src="{{ partialContextSrc }}" class="img-fluid large-door-image shadow-md {{ imagesComponentLeft.largeImage.animation }}" alt="Responsive Image{{ partialContextAlt }}">
                {{/if}}
            </div>
            <div class="col-8">
                <div class="row my-4">
                    {{#each imagesComponentLeft.smallImage.topRow}}
                        <div class="col-3">
                            <div class="container px-0 shadow-sm {{ this.animation }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" class="img-fluid small-door-image" alt="{{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.design }}</h6>
                                        <p class="content-text">Glass: {{ this.glass }}</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="row">
                    {{#each imagesComponentLeft.smallImage.bottomRow}}
                        <div class="col-3">
                            <div class="container px-0 shadow-sm {{ this.animation }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" class="img-fluid small-door-image" alt="{{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.design }}</h6>
                                        <p class="content-text">Glass: {{ this.glass }}</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>