<!-- LG and XL Screens Only -->
<div loading="lazy" class="container-fluid px-0 d-none d-lg-block">
    <div class="row px-0">
        <div class="d-none d-xl-block col-xl-1"></div>
        <div class="col-lg-12 px-lg-225rem col-xl-10 px-xl-0">
            <div class="row px-0">
                <div class="col-4">
                    {{#unless partialContextSrc}}
                        <img src="{{ imagesComponentLeft.largeImage.[1].src }}" loading="lazy" class="lazy img-fluid large-door-image shadow-md {{ imagesComponentLeft.largeImage.[1].animation }}" alt="Responsive image {{ imagesComponentLeft.largeImage.[1].alt }}">
                    {{/unless}}

                    {{#if partialContextSrc}}
                        <img src="{{ partialContextSrc.src }}" loading="lazy" class="lazy img-fluid large-door-image shadow-md {{ partialContextSrc.animation }}" alt="Responsive image {{ partialContextSrc.alt }}">
                    {{/if}}
                </div>
                <div class="col-8">
                    <div class="row my-4">
                        {{#unless partialContextTop }}
                        {{#each imagesComponentLeft.smallImage.topRow.[1]}}
                            <div class="col-3">
                                <div class="container px-0 shadow-sm {{this.animation}}">
                                    <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                        <div class="content">
                                            <div class="content-overlay"></div>
                                            <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="{{ this.alt }}">
                                            <div class="content-details fadeIn-bottom">
                                                <h6 class="content-title">DESIGN: {{this.imgName}}</h6>
                                                {{!-- <p class="content-text">Glass: default</p> --}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        {{#each imagesComponentLeft.smallImage.bottomRow.[1]}}
                            <div class="col-3">
                                <div class="container px-0 shadow-sm {{ this.animation }}">
                                    <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                        <div class="content">
                                            <div class="content-overlay"></div>
                                            <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="{{ this.alt }}">
                                            <div class="content-details fadeIn-bottom">
                                                <h6 class="content-title">DESIGN: {{ this.imgName }}</h6>
                                                {{!-- <p class="content-text">Glass: {{ this.glass }}</p> --}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                        {{/unless}}
                    {{!-- If there is not a specific location --}}
                        {{#if partialContextTop }}
                        {{#each partialContextTop}}
                            <div class="col-3">
                                <div class="container px-0 shadow-sm {{this.animation}}">
                                    <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                        <div class="content">
                                            <div class="content-overlay"></div>
                                            <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="{{ this.alt }}">
                                            <div class="content-details fadeIn-bottom">
                                                <h6 class="content-title">DESIGN: {{this.imgName}}</h6>
                                                {{!-- <p class="content-text">Glass: default</p> --}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        {{#each partialContextBottom}}
                            <div class="col-3">
                                <div class="container px-0 shadow-sm {{this.animation}}">
                                    <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                        <div class="content">
                                            <div class="content-overlay"></div>
                                            <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="{{ this.alt }}">
                                            <div class="content-details fadeIn-bottom">
                                                <h6 class="content-title">DESIGN: {{ this.imgName }}</h6>
                                                {{!-- <p class="content-text">Glass: {{ this.glass }}</p> --}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-1"></div>
    </div>
</div>

<!-- XS - MD Screens Only -->
<div loading="lazy" class="container-fluid px-0 d-block d-lg-none">
    <div class="row px-0 mx-0">
        <div class="col-12 my-6 my-sm-0 py-5 py-sm-4 py-md-0">
            <div class="row">
                {{#unless partialContextTop}}
                {{#each imagesComponentLeft.smallImage.topRow.[1]}}
                    <div class="col-2 d-block d-sm-none"></div>
                    <div class="col-8 col-sm-6 col-md-3 mb-4">
                        <div class="container px-0 shadow-sm {{ this.animation }}">
                            <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="img-comp-right {{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.imgName }}</h6>
                                        {{!-- <p class="content-text">Glass: {{ this.glass }}</p> --}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 d-block d-sm-none"></div>
                {{/each}}                
            </div>
            <div class="row">
                {{#each imagesComponentLeft.smallImage.bottomRow.[1]}}
                    <div class="col-2 d-block d-sm-none"></div>             
                    <div class="col-8 col-sm-3 mb-4 mb-sm-0">
                        <div class="container px-0 shadow-sm {{ this.animation }}">
                            <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="{{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.imgName }}</h6>
                                        {{!-- <p class="content-text">Glass: {{ this.glass }}</p> --}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 d-block d-sm-none"></div>
                {{/each}}   
                {{/unless}}

                {{#if partialContextTop}}
                {{#each partialContextTop}}
                    <div class="col-2 d-block d-sm-none"></div>
                    <div class="col-8 col-sm-6 col-md-3 mb-4">
                        <div class="container px-0 shadow-sm {{this.animation}}">
                            <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="img-comp-right {{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.imgName }}</h6>
                                        {{!-- <p class="content-text">Glass: {{ this.glass }}</p> --}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 d-block d-sm-none"></div>
                {{/each}}                
            </div>
            <div class="row">
                {{#each partialContextBottom}}
                    <div class="col-2 d-block d-sm-none"></div>             
                    <div class="col-8 col-sm-3 mb-4 mb-sm-0">
                        <div class="container px-0 shadow-sm {{this.animation}}">
                            <a href="{{ this.src }}" data-rel="lightcase:myCollection" title="DESIGN: {{ this.imgName }}">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="{{ this.src }}" loading="lazy" class="lazy img-fluid small-door-image" alt="{{ this.alt }}">
                                    <div class="content-details fadeIn-bottom">
                                        <h6 class="content-title">DESIGN: {{ this.imgName }}</h6>
                                        {{!-- <p class="content-text">Glass: {{ this.glass }}</p> --}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 d-block d-sm-none"></div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>