<div class="row">
    <div class="col-1 d-none d-xl-block"></div>
    <div class="col-12 px-3 col-xl-10 px-xl-0">
        <div class="card-deck text-center py-6">
            <div class="row no-gutters">
                {{#each coreValueCards}}
                    <div class="col-sm-12 col-md-6 col-lg-3 px-sm-5 px-md-0 pb-sm-4 pb-md-4 mb-sm-4 mb-md-0">
                        <div class="card core-value-card d-none d-md-block d-lg-block d-xl-block {{ this.animation }}" id="coreValueOne">
                            <i class="{{ this.icon }} mt-4 mb-3"></i>
                            <div class="card-body">
                                <h5 class="card-title core-value-title text-uppercase">{{ this.title }}</h5>
                                <p class="card-text core-value-paragraph">{{ this.description }}</p>

                            </div>
                        </div>
                    </div>

                    <!-- Card Flips Horizontal on XS and SM Screen Sizes-->
                    <div class="card core-value-card d-none d-block d-sm-block d-md-none d-lg-none d-xl-none {{ this.animation }}" id="coreValueOne">
                        <div class="row no-gutters">
                            <div class="col-4 px-2 px-sm-0 core-value-horizontal-border-right">
                                <i class="{{ this.icon }} my-4"></i>
                                <h5 class="card-title core-value-title">{{ this.title }}</h5>
                            </div>
                            <div class="col-8">
                                <div class="card-body card-body-xs-screen-padding">
                                    <p class="card-text core-value-paragraph">{{ this.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-1 d-none d-xl-block"></div>
</div>   