<div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-1"></div>
        <div class="col-12 col-md-9 px-5 px-md-0">
            <div class="row mt-4">
                {{#unless partialContextReview}}
                    <div class="col-12 col-sm-8 mt-sm-n5 p-4 h-75 customer-review-text customer-review-text-div-right transparent shadow {{ customerReviewRight.divAnimation }}">
                        <h5 class="{{ customerReviewRight.textAnimation }}">CUSTOMER REVIEW</h5>
                        <p class="{{ customerReviewRight.textAnimation }}">"{{ customerReviewRight.reviews.[0].text }}"</p>
                        <p class="text-right mb-0 {{ customerReviewRight.customerInfoAnimation}}"><span> - {{ customerReviewRight.reviews.[0].name }}<small><span class="text-right text-muted"> from {{ customerReviewRight.reviews.[0].area }}</span></small></span></p>
                    </div>
                    <div class="d-none d-sm-block col-sm-4 pl-0 customer-review-img-div-right">
                        <img class="customer-review-img float-right shadow-sm {{ customerReviewRight.imgAnimation }}" src="{{ customerReviewRight.reviews.[0].src }}" alt="{{ customerReviewRight.review.[0].alt }}">
                    </div>
                {{/unless}}

                {{#if partialContextReview}}
                    <div class="col-12 col-sm-8 mt-sm-n5 p-4 h-75 customer-review-text customer-review-text-div-right shadow {{partialContextReview.bkgrndColorClass}} {{ customerReviewRight.divAnimation }}">
                        <h5 class="{{ customerReviewRight.textAnimation }}">CUSTOMER REVIEW</h5>
                        <p class="{{ customerReviewRight.textAnimation }}">"{{ partialContextReview.text }}"</p>
                        <p class="text-right mb-0 {{ customerReviewRight.customerInfoAnimation}}"><span> - {{ partialContextReview.name }}<small><span class="text-right text-muted"> from {{ partialContextReview.area }}</span></small></span></p>
                    </div>
                    <div class="d-none d-sm-block col-sm-4 pl-0 customer-review-img-div-right">
                        <img class="customer-review-img float-right shadow-sm {{ customerReviewRight.imgAnimation }}" src="{{ partialContextReview.src }}" alt="{{ partialContextReviewalt }}">
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="d-none d-md-block col-md-2 clear-float"></div>
    </div>    
</div>