<div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-2"></div>
        <div class="col-12 col-md-9 px-5 px-md-0">
            <div class="row mt-4">
                {{#unless partialContextReview}}
                    <div class="d-none d-sm-block col-sm-4 pl-0">
                        <img class="customer-review-img shadow-sm {{ customerReviewLeft.imgAnimation }}" src="{{ customerReviewLeft.reviews.[0].src }}" alt="{{ customerReviewLeft.reviews.[0].alt }}">
                    </div>
                    <div class="col-12 col-sm-8 mt-sm-n5 p-4 h-75 customer-review-text customer-review-text-div-left transparent shadow {{ customerReviewLeft.divAnimation }}">
                        <h5 class="{{ customerReviewLeft.textAnimation }}">CUSTOMER REVIEW</h5>
                        <p class="{{ customerReviewLeft.textAnimation }}">"{{customerReviewLeft.reviews.[0].text }}"</p>
                        <p class="text-right mb-0 {{ customerReviewLeft.customerinfoAnimation }}"><span> - {{ customerReviewLeft.reviews.[0].name }}<small><span class="text-right text-muted"> from {{ customerReviewLeft.reviews.[0].area }}</span></small></span></p>
                    </div>
                {{/unless}}

                {{#if partialContextReview}}
                    <div class="d-none d-sm-block col-sm-4 pl-0">
                        <img class="customer-review-img shadow-sm {{ customerReviewLeft.img.animation }}" src="{{ partialContextReview.src }}" alt="{{ partialContextReview.alt }}">
                    </div>
                    <div class="col-12 col-sm-8 mt-sm-n5 p-4 h-75 customer-review-text customer-review-text-div-left shadow {{partialContextReview.bkgrndColorClass}} {{ customerReviewLeft.divAnimation }}">
                        <h5 class="{{ customerReviewLeft.textAnimation }}">CUSTOMER REVIEW</h5>
                        <p class="{{ customerReviewLeft.textAnimation }}">"{{partialContextReview.text }}"</p>
                        <p class="text-right mb-0 {{ customerReviewLeft.reviews.customerinfoAnimation }}"><span> - {{ partialContextReview.name }}<small><span class="text-right text-muted"> from {{ partialContextReview.area }}</span></small></span></p>
                    </div>

                {{/if}}
            </div>
        </div>
        <div class="d-none d-md-block col-md-1"></div>
    </div>
</div>