<div class="container-fluid my-0 my-sm-6">
    <div class="row">
        <div class="d-none d-md-block col-md-1"></div>
        <div class="col-12 col-md-9 px-5 px-md-0">
            <div class="row mt-4 mb-6">
                <div class="col-12 col-sm-8 mt-sm-n5 p-4 h-75 customer-review-text customer-review-text-div-right transparent shadow {{ customerReviewRight.review.divAnimation }}">
                    <h5 class="{{ customerReviewRight.review.wording.animation }}">CUSTOMER REVIEW</h5>
                    <p class="{{ customerReviewRight.review.wording.animation }}">"{{ customerReviewRight.review.wording.text }}"</p>
                    <p class="text-right mb-0 {{ customerReviewRight.review.customerInfo.animation }}"><span> - {{ customerReviewRight.review.customerInfo.name }}<small><span class="text-right text-muted"> from {{ customerReviewRight.review.customerInfo.area }}</span></small></span></p>
                </div>
                <div class="d-none d-sm-block col-sm-4 pl-0 customer-review-img-div-right">
                    <img class="customer-review-img float-right shadow-sm {{ customerReviewRight.img.animation }}" src="{{ customerReviewRight.img.src }}" alt="{{ customerReviewRight.img.alt }}">
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-2 clear-float"></div>
    </div>    
</div>