<div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-2"></div>
        <div class="col-12 col-md-9 px-5 px-md-0">
            <div class="row mt-4">
                <div class="d-none d-sm-block col-sm-4 pl-0">
                    <img class="customer-review-img shadow-sm {{ customerReviewLeft.img.animation }}" src="{{ customerReviewLeft.img.src }}" alt="{{ customerReviewLeft.img.alt }}">
                </div>
                <div class="col-12 col-sm-8 mt-sm-n5 p-4 h-75 customer-review-text customer-review-text-div-left transparent shadow {{ customerReviewLeft.review.divAnimation }}">
                    <h5 class="{{ customerReviewLeft.review.wording.animation }}">CUSTOMER REVIEW</h5>
                    <p class="{{ customerReviewLeft.review.wording.animation }}">"{{customerReviewLeft.review.wording.text }}"</p>
                    <p class="text-right mb-0 {{ customerReviewLeft.review.customerInfo.animation }}"><span> - {{ customerReviewLeft.review.customerInfo.name }}<small><span class="text-right text-muted"> from {{ customerReviewLeft.review.customerInfo.area }}</span></small></span></p>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-1"></div>
    </div>
</div>