<div class="row my-6">
    <div class="col-1"></div>
    <div class="col-10 mb-4">
        <div class="row wrapper-shadow">
            <div class="col-7 px-0 ml-575 arrow-left {{ arrowComponentLeft.animation.arrow }}" style="background-color: {{ arrowComponentLeft.wording.bkgrndColor }}">
                <div class="row">
                    <div class="col-10 mb-5">
                        <h2 class="text-center ml-6 mt-5 mb-4">{{ arrowComponentLeft.title }}</h2>
                        
                        <div id="{{ arrowComponentLeft.wording.id }}">
                        {{#each arrowComponentLeft.wording.paragraphs}}
                            <p class="ml-4rem text-justify">{{this}}</p>
                        {{/each}}
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            
            <div class="col-5 px-0 ml-n575 arrow-left-img {{ arrowComponentLeft.animation.image }}" style="background-image: url('{{ arrowComponentLeft.image.src }}')" id="{{ arrowComponentLeft.image.id }}">
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>